/* layout when screen is 720px or above */
@include mq($bp-small){
  @include omega();

  .admin-panel {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .admin-panel-left {
    float: left;
    width: 50%;

    a {
      width: 100%;
      text-align: center;
    }
  }

  .admin-panel-right {
    margin-left: 51%;

    a {
      width: 100%;
      text-align: center;
    }
  }
}

.admin-panel {
  a {
    width: 100%;
    display: block;
    text-align: center;
  }
}

.admin-main {
  a {
    width: 100%;
    display: block;
    text-align: center;
  }
}
