.banner {
  @include span-columns(12);
  
  padding-left: 40px;
  padding-right: 40px;
  
  font-size: 10px;
  
  background-color: $gold;

  h2 { 
    text-shadow: 2px 2px $neutral-black;
    text-transform: uppercase;
    color: white; 
    text-align: left; 
  }
}