.banner {
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  overflow: hidden;
  background-color: $primary-orange;

  * {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
  }

  h2 { 
    text-shadow: 2px 2px $neutral-black;
    text-transform: uppercase;
    color: white; 
    text-align: left; 
  }
}