  .banner__container {
    background-color: $gold;
  }  
  
  .banner__wrapper { 
    @include outer-container(); 
  }

  .banner__text {
    @include span-columns(9);
    padding: 20px;
    
    font-size: 10px;

    h2 { 
      text-shadow: 2px 2px $neutral-black;
      text-transform: uppercase;
      color: white; 
      text-align: left; 
    }
  }   