/*


.button {
	display: inline-block;
	border: 2px solid $accent-blue2;
	border-radius: 5px;
	padding: 14px 24px;
	color: $accent-blue2;
	text-decoration: none;
	background: #fff;
	margin: 20px 5px;
	box-shadow: -1px 10px 15px -15px rgba(0,0,0,0.5);
	&:hover {
		background: $accent-blue2;
		color: #fff !important;
	}
}


*/
