* {
    box-sizing: border-box;
}

.browse-buttons {
  margin-left: auto;
  margin-right: auto;
}

.col-container {
    display: table;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    background-color: lightblue;
}

.col-side {
    display: table-cell;
    //background-color: pink;

    //gutter left
    padding-left: 10px;
    padding-right: 10px;

    width: 30%;
    text-align: left;
    vertical-align: top;

    h2 {
      color: black;
      font-size: 25px;
      font-weight: bold;
    }
}

.col-main {
    display: table-cell;
    //background-color: green;
    //gutter left
    padding-left: 10px;
    padding-right: 20px;

    width: 70%;
    text-align: left;
    vertical-align: top;

    a:-webkit-any-link {
      text-decoration: none;
      //color: $accent-blue1;
    }

    h2 {
      color: black;
      font-size: 18px;
      line-height: 1.5;
      text-transform: uppercase;
    }

    li {
      list-style-type: none;
    }

    // .micro {
    //   display: table;
    //   padding: unset;
    //   letter-spacing: 1px;
    //   font-weight: 900;
    //   color: #5f5f5f;
    //   font-size: .75em;
    // }

    .micro2 {
      display: table;
      padding: unset;
      letter-spacing: 1px;
      font-weight: 400;
      color: #5f5f5f;
      font-size: .75em;
    }
}

@media only screen and (max-width: 768px) {
    .col-container, .col-side, .col-main {
        display: block;
        width: 100%;
    }
}
