.faculty-profile {
  @include span-columns(12);
  margin-bottom: 2em;

  .faculty-profile-pic {
    @include span-columns(3);

    img {
      border-style: solid;
      border-width: medium;
      border-color: $accent-blue1;
      vertical-align: middle;

      height: 13em;
      width: 13em;
      object-fit: cover;
      object-position: 75% 25%;
      }
    }

  .faculty-profile-title {
    @include span-columns(9);

    h1 {
      font-size: 3.5em;
      padding-top: 2em;
      white-space: nowrap;
    }
  }
}

@include mq($bp-mini) {
  .faculty-profile-pic {
    @include span-columns(12);
  }
}
