.info-boxes {
  border-style: solid;
  border-width: thin;
  border-color: #E0E0E0;
  padding: 10px;
  margin-bottom: 2em;
  text-align: center;
  font-size: .75em;

  h2 {
    color: black;
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    margin: 0;
    margin-bottom:15px;
    padding: 0px 25px;
  }

  li {
    list-style-type: none;
    padding-top: 15px;
  }
}
