.wvu-main-content-left {
  float: left;       /* This causes the sidebar to move to the left */
  width: 70%;      /* We need to set the width whenever we float an element */
  background-color: white;
	text-align: left;
  color: grey;
}
