.nav__container {
  background-color: $neutral-black;
}

.nav__wrapper {
  @include outer-container();
}

.nav__main  {
    font-size: 0.75em;

    ul {
        list-style-type: none;
        display: table;
        margin: 0 auto;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
    }

    a:hover {
       background-color: #ddd;
       color: black;
    }

    /* layout when screen is 720px or above */
    @include mq($bp-small){
      @include omega();

      ul {
          display: block;
          list-style-type: none;
          overflow: hidden;
      }

      li {
          float: left;
          border-right:1px solid #bbb;
      }

      li:nth-last-child(2) {
          border-right: none;
      }

      li:last-child {
          border-right: none;
          float: right;
      }

    }
}
