/* The navbar container */
.main-nav {
   overflow: hidden;
   background-color: $neutral-black;
   
   // spacing for left gutter
   padding-left: 40px;
   padding-right: 40px;

   padding-top: 5px;
   padding-bottom: 5px;

   font-size: 12px;  
}

/* Navbar links */
.main-nav ul {
    list-style-type: none;
    overflow: hidden;
}

.main-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.main-nav li {
    float: left;
    border-right:1px solid #bbb;
}

.main-nav li:nth-last-child(2) {
    border-right: none;  
}

.main-nav li:last-child {
    border-right: none;
    float: right;
}

.main-nav a:hover {
   background-color: #ddd;
   color: black;
} 

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .main-nav {
      background-color: blue;
    }
    
    .main-nav ul {
      display: inline-block;        
    }  
  
    .main-nav li a {
       float: none;
       width: 100%;
    }
} 
