.profile-wrapper {
  padding: 10px;
  overflow: hidden;
  clear: both;

  .profile-image {
    max-width: 200px;
    float: left;
  }

  .profile-info {
     margin-left: auto;
     float: right;
     h3 {
        color: $accent-blue2;
        text-align: left;
      }
  }

}
