.refine-side-search {
  display: inline;
  margin-left: auto;
  text-align: left;
}

.custom-select {
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none;
    
  
  // display: block; 
  // padding: 10px 13px 10px 70px !important; 
  // max-width: 100%; 
  // height: auto !important; 
  // border: 1px solid #e3e3e3; 
  // border-radius: 3px; 
  // background: url("http://i62.tinypic.com/15xvbd5.png") left center no-repeat; 
  // background-color: #fff; 
  // color: #444444; 
  // font-size: 12px; 
  // line-height: 16px !important; 
}

