.refine-side-search {
  * {
    box-sizing: border-box;
  }

  form {
    @include column-span(4 of 12);
    font-size: .8rem;
  }
  /* Style the search field */
  form input[type=text] {
    border: 1px solid grey;
    background-color: white;
    padding: 14px 22px;
    width: 87%;
  }

  /* Style the submit button */
  form button {
    position: absolute;
    padding: .75rem 1rem;
    background: $accent-blue2;
    color: white;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

  form button:hover {
    background: $accent-blue1;
  }

  h4 {
    padding-top: 50px;
    font-size: 1.75rem;
  }
}
