.search-box {
  color: white;
  margin: 0;
  padding: 40px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  line-height: 1.1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  h1 {
      text-transform: uppercase;
      line-height: 30px;
      font-size: 30px;
      padding: 20px;
      margin: 20px;
      display: inline;
  }
  h1 span {
      position: relative;
  }
}

.tinted-background {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(234, 170, 0, .85),
      rgba(234, 170, 0, .85)
    ),
    /* bottom, image */
    image-url('wvu.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
