.search-wrapper {
  padding: 3rem;
  display: flex;
  justify-content: center;

  //at screen sizes 720px or larger
  @include mq($bp-medium) {
    max-width: 50vw;
    margin-left: 25vw;
  }

  * {
    box-sizing: border-box;
    @include span-columns(12);
  }

  /* Style the search field */
  form input[type=text] {
    @include span-columns(10);
    margin-right: 0;
    border: 1px solid grey;
    background-color: white;
    padding: 1rem 1.5rem;
  }

  /* Style the submit button */
  form button {
    @include span-columns(2);
    padding: 1.05rem 0;
    background: $accent-blue2;
    color: white;
    font-size: 1rem;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

  form button:hover {
    background: $accent-blue1;
  }

  /* Clear floats */
  form::after {
    content: "";
    clear: both;
    display: table;
  }
}

@include mq($bp-medium, false, max) {
    .col-container, .col-side, .col-main {
        @include span-columns(12);
        margin: 15px auto 0 auto;
    }
}
