.wvu-side-content-left {
  float: left;      /* This causes the content to move to the right */
  width: 30%;      /* We need to set the width whenever we float an element */
  background-color: white;
	text-align: left;

  h3 {
    color: $neutral-black;
    text-align: left;
  }
}
