.tinted-banner {
  @include span-columns(12);
  padding: 2.5rem;
  overflow: hidden;
  //line-height: 1.1em;
  text-align: center;

  h1 {
      //text-transform: uppercase;
      line-height: 1.25em;
      font-size: 2rem;
      //padding: 15px;
      //margin: 20px;
      display: inline;
      color: white;
  }

  p {
    //word-break: break-all;
    //white-space: normal;
    display: inline;
    line-height: 1.25rem;
    font-size: 0.75rem;
    color: white;
  }

}

.tinted-background {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(234, 170, 0, .85),
      rgba(234, 170, 0, .85)
    ),
    /* bottom, image */
    image-url('wvu.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
