.tinted-banner {
  @include span-columns(12);
  padding: 40px;
  overflow: hidden;
  line-height: 1.1em;
  text-align: center;

  h1 {
      text-transform: uppercase;
      line-height: 30px;
      font-size: 30px;
      padding: 15px;
      margin: 20px;
      display: inline;
      color: white;
  }

  p {
    word-break: break-all;
    white-space: normal;
    display: inline;
    font-size: 14px;  
    color: white;
  }

}

.tinted-background {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(234, 170, 0, .85),
      rgba(234, 170, 0, .85)
    ),
    /* bottom, image */
    image-url('wvu.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
