<div class="top-action">
  <h2> Search Terms </h2>
</div>

<div>
  <table>
    <tr>
      <th>Month</th>
      <th>Year</th>
      <th>Search Term</th>
      <th>Count</th>
    </tr>

    <% @searchterms.each do |item| %>
      <tr>
        <td><%= item.human_readable_month %></td>
        <td><%= item.human_readable_year %></td>
        <td><%= item.term %></td>
        <td><%= item.term_count %></td>
      </tr>
    <% end %>
  </table> 
</div>