<div class="top-action">
  <h2> Search Terms </h2>
</div>

<div>
  <!-- Stats Filter -->
  <%= form_tag(searchstats_path, :method => "get", id: "filter-stats-by-month") do %>
      <h4>Refine Your Search:</h4>

      <%= select_month(Date.today) %>
      <button type="submit" id="submit"><span class="fa fa-search"></span></button>        
  <% end %>      
</div>

<div>
  <table>
    <tr>
      <th>Search Term</th>
      <th>Count</th>
    </tr>

    <% @searchterms.each do |item| %>
      <tr>
        <td><%= item['term'] %></td>
        <td><%= item['term_count'] %></td>
      </tr>
    <% end %>
  </table> 
</div>