<div class="top-action">
  <h2> Search Terms </h2>
</div>

<div class="refine-stats-search">
  <!-- Stats Filter -->
  <%= form_tag(searchstats_path, :method => "get", id: "filter-stats-by-month") do %>
      <label for="date_month" class="visually-hidden"> 
        Filter By Month
      </label>

      <h4>Refine Your Search:</h4>

      <div class="row">
        <div class="select-style field half">
            <%= selected_month() %>
        </div>
        <button class="search-button button">
          <span class="fa fa-search" id="submit"></span> 
          <span class="visually-hidden"> Search </span>
        </button> 
      </div>
  <% end %>      
</div>

<div>
  <table>
    <tr>
      <th>Search Term</th>
      <th>Count</th>
    </tr>

    <% @searchterms.each do |item| %>
      <tr>
        <td><%= item['term'] %></td>
        <td><%= item['term_count'] %></td>
      </tr>
    <% end %>
  </table> 
</div>