<div lass="wvu-main-content">

  <div class="wrap content-wrapper">

    <div class="col-4 col-s-12 side-content-left">
         <h3>Admin Navigation</h3>
    </div>

    <div class="col-8 sol-s-12 wvu-main-content-right">
      <tbody>

      </tbody>
    </div>
  </div>
</div>
