<fieldset class="website">
  <legend> Website(s) </legend>

  <div class="field full">
    <%= form.label :url, "URL", class: 'required' %>
    <%= form.text_field :url, placeholder:'https://lib.wvu.edu/' %>
  </div>

  <div class="action">
    <%= form.hidden_field :_destroy %>
    <%# form.label :_destroy, "Delete Address" %>
    <%= link_to '<span class="fas fa-trash-alt"></span>'.html_safe , '#', class: "remove-fields delete-award", title: "Delete Website" %>
  </div>
</fieldset>
