<div class="wvu-main-content">
  <div class="wrap content-wrapper">
    <div class="col-3 col-9 wvu-main-content-right">
      <tbody>
        <% @user_profiles.each do |user_profile| %>
          <div class="directory">
             <!-- Show Profile picture -->
             <div class="directory__individual-photo">
               <%= image_tag(user_profile.picture.image.url(:medium), alt: "Profile Picture", title: "Profile Picture") %>
             </div>
             <div class="directory__individual-info">
               <h2><%= link_to user_profile.display_name, show_user_profile_path(user_profile.id) %></h2>
             </div>
          </div>
        <% end %>
      </tbody>
    </div>
  </div>
</div>
