<div class="wvu-main-content">
  <div class="directory-banner">
    <div class="wrap directory-banner-text">
      <h1>DIRECTORY FOR THE SCHOLARSHIP OF TEACHING & LEARNING</h1>
    </div>
  </div>

  <div class="wrap content-wrapper">

    <div class="col-4 col-8 sol-s-12 wvu-main-content">
      <tbody>
        <ul>
            <% @user_profiles.each do |user_profile| %>
              <li>
                 <!-- Show Profile picture -->
                 <div>
                   <%= user_photo(user_profile) %>
                   <h2>
                     <%= link_to user_profile.name, show_user_profile_path(user_profile.id) %>
                   </h2>
                 </div>
              </li>
            <% end %>
          </ul>
        </div>
      </tbody>
    </div>
  </div>
</div>
