<!-- Admin Menu -->
<menu id="menu">
  <ul>
    <li> <h2> Application Access </h2> </li>
    <li><a href="/admin/users"> Users </a></li>          

    <li> <h2> Import </h2> </li>
    <li><a href="/admin/faculties/importcsv"> From CSV file </a></li>
    <li><a href="/admin/faculties/importzip"> From Digital Measures ZIP </a></li>

    <li> <h2> Manage / Edit </h2> </li>
    <li><a href="/admin/colleges"> Colleges </a></li>
    <li><a href="/admin/departments"> Departments </a></li>
    <li><a href="/admin/faculties"> Faculty </a></li>

    <li> <h2> Reporting </h2> </li>
    <li><a href="/admin/searchstats"> Search Statistics </a></li>
  </ul>
</Menu>   
