<div class="nav-wrapper">
  <nav class="wrap nav">
    <ul>
      <li><%= link_to "Home", '/' %></li>
      <li><%= link_to "Admin Main", '/admin' %></li>      
      <li><%= link_to "Browse the Users", '/admin/users' %></li>
      <li style="float:right"><%= link_to "  Logout", '/Logout', class: "fa fa-sign-out" %></li>
    </ul>
  </nav>
</div>
