<!-- Header -->
<header class="wvu-masthead">
  <div class="wvu-masthead__container">
    <a class="wvu-masthead__logo header-logo" href="/">
      <span class="wvu-masthead__title"> TLC Directory </span>
    </a>
    <div class="button-container">
      <%= link_to "Public", "/", :class=>"button button--pms-629-c" %>
      <%= link_to "Logout", "/logout", :class=>"button button--wvu-gold" %>
    </div>
  </div>
</header>
