<!-- Footers -->
<footer class="builtby_footer">
    <div class="builtBy">
        <span class="built">Built</span>
        <span class="by">By </span>
        <span class="wvu">WVU</span>
        <span class="libs">Libraries</span>
    </div>
</footer>
