<div class="banner__container">
  <div class="banner__wrapper">
    <div class="banner__text">
        <h2>DIRECTORY FOR THE<br>
        SCHOLARSHIP OF TEACHING AND LEARNING</h2>
    </div>
  </div>
</div>
