<!-- Public Menu -->
<div class="nav__container">
  <div class="nav__wrapper">
    <nav class="nav__main">
      <ul>
        <li><%= link_to "Home", '/' %></li>
        <li><%= link_to "Browse the Directory", '/directory' %></li>
        <li><%= link_to "Open Access Textbooks", 'https://textbooks.lib.wvu.edu/index.html' %></li>
        <li><%= link_to " Admin Login", '/login', class: "fa fa-cog" %></li>
      </ul>
    </nav>
  </div>
</div>
