<div class="tinted-banner tinted-background">
    <h1>DIRECTORY FOR THE <br> SCHOLARSHIP OF TEACHING & LEARNING</h1>

    <div class="search-wrapper">
        <!-- Directory Search -->
        <%= form_tag(directory_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search the TLC Directory ..." %>
            <button name="submit" type="submit"><span class="fa fa-search"></span></button>
        <% end %>
    </div>

    <p>
      This search will link you to other collaborators by matching the search<br>
      phrase with research interests, publications, and background information.
    </p>
</div>
