  <!-- WVU Header -->
  <section class="wvu-header mobile wvubottom" role="banner" aria-label="wvu header for all university web pages">
      <a href="#" id="wvutoggle" class="wvu-masthead__logo wvu-masthead__logo--w-signature">
          <%= image_tag("wvulogo.svg", alt: "WVU Libraries") %>
          <span class="fa fa-chevron-down"></span>
          <span class="fa fa-chevron-up"></span>
      </a>
  </div>
  <div class="wvu-header tablet wvubottom">
      <div class="wrap">
          <a href="https://lib.wvu.edu/" class="wvu-header-logo wvu-masthead__logo wvu-masthead__logo--w-signature">
              <span class="wvu-masthead-title wvu-masthead__title--w-signature">Libraries</span>
          </a>
      </div>
  </section>
