<div id="phone<%= count %>">
  <%= phone.hidden_field :id, id: 'id' %>
  <%= phone.text_field :phone_number, id: 'phone_number' %>
  <%= phone.text_field :phone_type, id: 'phone_type' %>
  <% if count < @user.phones.count %>
    <input id="button" type="button" name="button" value="-" onClick="Javascript:onClickRemove(this)">
  <% else %>
    <input id="button" type="button" name="button" value="+" onClick="Javascript:addField(this)">
  <% end %>
</div>
