<div id="phone<%= count %>">
  <%= phone.hidden_field :id, id: 'id' %>
  <%= phone.text_field :number, id: 'number' %>
  <%= phone.text_field :number_types, id: 'number_types' %>
  <% if count < @user.phones.count %>
    <input id="button" type="button" name="button" value="-" onClick="Javascript:onClickRemove(this)">
  <% else %>
    <input id="button" type="button" name="button" value="+" onClick="Javascript:addField(this)">
  <% end %>
</div>
