<div id="publication">
  <%= publication.text_field :description %>
  <input id="subButton" type="button" name="subButton" style="display:inline;" value="-" onClick="Javascript:onClickRemove('publication', this)">
  <input id="addButton" type="button" name="addButton" style="display:inline;" value="+" onClick="Javascript:onClickAdd('publication')">
</div>
