<div id="content" class="wvu-main-content">
  <div class="directory-banner">
    <div class="wrap directory-banner-text">
      <h1>DIRECTORY FOR THE SCHOLARSHIP
      OF TEACHING & LEARNING</h1>
    </div>
  </div>

  <div class="wrap">
     <div id="sidecontent" class="wvu-side-content-left">
         <h3>Refine Your Search:</h3>
     </div>

     <div class="wvu-main-content-right">
       <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sodales id mi nec elementum. In euismod ante sollicitudin rutrum auctor. Sed consequat diam quis pretium ullamcorper. Praesent ornare eu mauris id dapibus. Vivamus convallis dignissim mauris nec lobortis. Nunc hendrerit, sapien sit amet semper ultrices, quam libero pharetra elit, eget accumsan orci arcu tempor erat. Donec sit amet neque at lorem scelerisque venenatis quis vitae odio. Curabitur convallis accumsan urna ut vehicula. Nam eget ornare lorem. Aliquam nisi massa, dignissim vitae lorem vitae, dictum aliquam magna. Quisque ac lectus lorem. Maecenas aliquet risus ac faucibus laoreet.
       </p>

       <p>
          In hac habitasse platea dictumst. Nunc et laoreet purus, vel auctor turpis. Integer quis maximus justo. Nunc justo est, vestibulum vitae tristique vel, bibendum non eros. Sed feugiat leo sit amet arcu ullamcorper pellentesque. Pellentesque tincidunt ac purus vitae tempus. Phasellus dui mauris, porttitor vestibulum nisi a, finibus sagittis magna. Vestibulum rutrum eleifend eros, at placerat metus dictum at. Praesent suscipit vulputate sem, vitae faucibus magna tempor vel.
       </p>
     </div>
  </div>
</div>
