@import "partials/mixins"; 

.hp2wrap {
	background: url("evans_dog_wife-6f339ea18f478eeb8219643fe561891cc5c262d7a4f54b21efd910fffd2604da.jpg") center top no-repeat;
	background-size: cover;
	padding: 150px 0;
  text-align: left;
  
  @include breakpoint(desktop){ 
    padding:200px 0; 
  }

	.hpwrap {
		width: 90%;
		padding: 60px;
		background: transparent;
		margin: 0 auto;
		border-radius: 5px;
		p {
			text-align: left;
		}
		h3 {
			text-align: left;
			margin: 0 0 10px 0;
			line-height: 125%;
		}
	}
}

.image_wrapper { 
  padding:20px; 
  margin:20px;
    
  &.tiny, &.medium, &.large { 
    p,img { width:100%; max-width: unset; }
  }

  @include breakpoint(tablet){ 
    &.tiny { 
      p,img { max-width:200px;}
    }
    &.medium { 
      p,img { max-width:400px;}
    }
    &.large { 
      p,img { max-width:600px;}
    }
  }

  @include breakpoint(desktop){ 
    &.tiny { 
      p, img { max-width:300px;}
    }
    &.medium { 
      p, img { max-width:500px;}
    }
    &.large { 
      p, img { max-width:700px;}
    }
  }
}

.full-size-responsive { 
	width:100%; 
	padding:20px; 
	height:auto;
	text-align: center;
}

.document-image { 
  display:block; 
  max-height:300px; 
  overflow:hidden;
}