.pagination-search-widgets{ 
  display:block; 
  width:100%; 
  float:left; 
}

.page_links {
  display: inline-block;
  border: 1px solid transparent;
  padding: 6px 12px;
  padding-left: 0;
  float: left;
}