
<div class="col-main-center">
  <h2>
    Welcome to the Directory for the Scholarship of Teaching and Learning (SoTL) at West Virginia University. 
  </h2>
  <p>
    It is a collaborative effort between the Teaching and Learning Commons and Libraries. This directory introduces 
    you to the scholars on campus who are conducting research on teaching and learning and publishing in peer-reviewed 
    publications. We created this resource so that fellow SoTL researchers can learn about each other’s scholarly work 
    on teaching and learning and build collaboration.
  </p>
  <p>
    If you conduct scholarly research on teaching and learning and would like to be included in this directory, please 
    contact the Teaching and Learning Commons at <a href="mailto:tlcommons@mail.wvu.edu">tlcommons@mail.wvu.edu</a> or 304-293-5824.
  </p>
    <div class="browse-buttons">
        <a class="button button--pms-286-c" href="/directory">Browse the Directory</a>
    </div>
</div>

