  <div class="wvu-main-content">
    <div class="content-wrapper">
      <div class="col-8 sol-s-12 wvu-main-content-left">
        <h3>
          Welcome to the 2017 directory for the scholarship of teaching and learning (SoTL)
          at West Virginia University! This inaugural SoTL directory began as a collaboration
          between the Teaching and Learning Commons and the Digital Publishing Institute.
        </h3>
        <p>
          We began the academic year defining the broad scope of research that we wanted faculty
          instructors to include under the heading of SoTL work—from peer-reviewed publications
          to presentations and poster sessions—anything that included thoughtful reflection
          on and research of teaching practices that was distributed to audiences in a formal
          way. We hope this inaugural directory introduces you to a few of the scholars on campus
          doing outstanding pedagogical research.
        </p>
        <p>
          In part through the Faculty Associates program of the TLC, the editorial team worked to
          produce this booklet as an open-access resource for faculty instructors to learn about
          each others’ scholarly–pedagogical work and to build collaborations where possible. We
          hope to continue producing this book on an annual or biennial basis and to possibly create
          a database for additions, updates, and more easy searching of colleagues. If you would like
          to be included in future iterations of this directory for your  pedagogical  research,
          please  contact  the  Teaching and Learning Commons.
        </p>
        <p>
           <a class="button" href="/directory">Browse the Directory</a>
           <a class="button" href="https://textbooks.lib.wvu.edu/sotl/index.html">Browse Textbooks</a>
        </p>
       </div>

       <div class="col-4 col-s-12">
       	  <div class="info-boxes">
            <h2>Editorial Team</h2>
            <ul>
               <li>Cheryl E. Ball</li>
               <li>Tracey Beckley</li>
               <li>Megan Fahey</li>
               <li>Hope Hart</li>
               <li>Amy Kuhn</li>
               <li>Carrie Lamanna</li>
               <li>John Oughton</li>
               <li>Marina Galvez Peralta</li>
               <li>Demi Fuentes Ramirez</li>
               <li>Lizzie Santiago</li>
               <li>Lydia Welker</li>
            </ul>
         </div>

         <div class="info-boxes">
           <h2>Partners</h2>
           <ul>
             <li>Teaching and Learning Commons</li>
             <li>Digital Publishing Institute</li>
             <li>West Virginia University Libraries</li>
           </ul>
         </div>

         <div class="info-boxes">
           <h2>Creative Commons</h2>
           <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">This work is licensed under a Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>
           <p><a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">
             <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png">
           </a></p>
         </div>
       </div>

    </div>

  </div>
