<header class="">
  <div class="container">
    <nav class="nav">
      <ul>
        <li><%= link_to "Home", '/' %></li>
        <li><%= link_to "Browse the Directory", '/directory' %></li>
        <li><%= link_to "Open Access Textbooks", 'https://textbooks.lib.wvu.edu/index.html' %></li>
        <li style="float:right"><%= link_to "  Admin Login", '/admin', class: "fa fa-cog" %></li>
      </ul>
    </nav>
  </div>
</header>
